asgiref==3.7.2
channels==4.0.0
chardet==5.2.0
click==8.2.1
colorama==0.4.6
Django==5.0.2
django-ckeditor==6.7.1
django-cors-headers==4.7.0
django-grappelli==4.0.1
django-js-asset==2.2.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
et_xmlfile==2.0.0
gunicorn==23.0.0
h11==0.16.0
lxml==5.3.1
numpy==2.1.1
openpyxl==3.1.5
packaging==25.0
pandas==2.2.3
pillow==11.0.0
PyJWT==2.9.0
python-dateutil==2.9.0.post0
python-docx==1.1.2
pytz==2025.1
reportlab==4.3.1
six==1.17.0
sqlparse==0.4.4
typing_extensions==4.12.2
tzdata==2024.1
uvicorn==0.34.3
whitenoise==6.9.0
XlsxWriter==3.2.2
